@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400&display=swap');
//variáveis---------------------------------------------//
$font: 1.08em;
//Fonte Zrnic (Playstation)-----------------------------//
@font-face {
    font-family: zrnic;
    src: url(/Fonts/zrnic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: #f1f1fc;
    background: -moz-radial-gradient(center, ellipse cover,  #f1f1fc 0%, #a8a8a8 0%, #f1f1fc 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #f1f1fc 0%,#a8a8a8 0%,#f1f1fc 100%);
    background: radial-gradient(ellipse at center,  #f1f1fc 0%,#a8a8a8 0%,#f1f1fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1fc', endColorstr='#f1f1fc',GradientType=1 );
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    //user-select: none;
}

header {
    background-color: white;
    height: 60px;
    width: 100%;
    box-shadow: -4px 0px 10px black;
    position: relative;
    display: block;
    z-index: 10;
    animation: none;
//Menu de navegação------------------------------------//
    #navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;

        #logo {
            img {
                position: relative;
                left: 15px;
                height: auto;
                width: 100px;
            }
        }
    
//Opções de navegação---------------------------------//    
        #principal {
            margin-right: 40px;

            #lista {
                ul {
                    position: relative;
                    display: flex;
                    flex-direction: row;
    
                    li {
                        color: rgb(83, 83, 83);
                        list-style: none;
                        cursor: pointer;
                        margin-left: 30px;
                        font-weight: bold;
    
                        &:hover {
                            color: black;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes nav-animation {
    from {
        top: -60px;
    }
    to {
        top: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
//Div geral----------------------------------------------//
.container {
    display: flex;
    flex-direction: column;
}
//Primeiro background------------------------------------//
#bg-1 {
    height: 120vh;
    width: 100vw;
    background-image: url('/Imagens/f5.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
//Segundo background--------------------------------------//
#bg-2 {
    height: 115vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/Imagens/bg5.webp');
    animation: none;
    background-position: center;
    display: flex;
    align-items: flex-end;
//Texto do segundo background-----------------------------//
    #txt-bg2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 50%;
        animation: none;
        text-align: justify;
        border: 2px solid #124EC7;
        box-shadow: 0px 0px 10px #124EC7;
        background-color: #19356d;
        border-radius: 10px;
        padding: 20px;
        margin: 0px 0px 20px 20px;

        h1 {
            color: rgb(190, 205, 255);
            text-shadow: 0px 0px 10px #124EC7;
            font-family: zrnic;
            font-size: 2.5em;
            margin-bottom: 30px;
        }

        p {
            color: #3573ee;
            font-weight: bold;
            font-size: $font;
            text-shadow: 0px 0px 10px #124EC7;
            transition: none;
            opacity: 1;
        }
    }
}
//Animação do texto--------------------------------------//
@keyframes bg2-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
//Terceiro background------------------------------------//
#bg-3 {
    max-width: 100vw;
    height: 121vh;
    background-repeat: no-repeat;
    background-image: url('/Imagens/ctrl.webp');
    background-size: cover;
    background-position: center;
//Menu animado do terceiro background--------------------//
    #box-bg3 {
        display: flex;
        flex-direction: nowrap;
        opacity: 0;
        transition: opacity 0.8s;
        margin-top: 50px;
        align-items: center;
        position: relative;
        right: 50px;

        img#ctrl-2 {
            width: 300px;
            z-index: 5;
        }
//Linhas do menu animado----------------------------------//
        .linha-bg3 {
            background-color: #124EC7;
            box-shadow: 0px 0px 5px #124EC7;
            height: 1px;
            width: 100px;
            z-index: 6;
            margin: 0px 20px 0px 20px;
            transition: opacity 0.8s;
            transition-delay: 0ms;
            border-radius: 10px;
        }
    
        #linha1-bg3 {
            right: 50px;
            opacity: 0;
        }

        #linha2-bg3 {
            right: 10px;
            opacity: 0;
        }

        #linha3-bg3 {
            left: 30px;
            opacity: 0;
        }
//Quadrados do menu animado-----------------------------//
        .quad-bg3 {
            border: 2px solid #124EC7;
            box-shadow: 0px 0px 10px #124EC7;
            width: 120px;
            height: 70px;
            z-index: 7;
            background-color: #19356d;
            transition: opacity 0s linear 0ms;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;

            &:hover {
                transform: scale(3, 3);
            }
        }
    
        #quad1-bg3 {
            right: 30px;
            opacity: 0;
        }

        #quad2-bg3 {
            left: 10px;
            opacity: 0;
        }

        #quad3-bg3 {
            left: 50px;
            opacity: 0;
        }

        .title-bg3 {
            color: white;
            font-size: 0.7em;
            margin: 3px 0px 3px 0px;
            font-family: zrnic;
            letter-spacing: 0.7px;
            text-shadow: 0px 0px 5px #124EC7;
        }

        .span-bg3 {
            font-size: 0.3em;
            text-align: justify;
            padding: 0px 5px 0px 5px;
            color: #b4cdff;
            font-family: zrnic;
        }
    }
}
//Imagens com transição---------------------------------//
#slide {
    div {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    div:nth-of-type(1) {
        background-image: url('/Imagens/bg2.jpg');
        min-height: 610px;
    }

    div:nth-of-type(2) {
        background-image: url('/Imagens/bg.jpg');
        min-height: 610px;
    }

    div:nth-of-type(3) {
        background-image: url('/Imagens/controle.jpg');
        min-height: 610px;
    }

    div:nth-of-type(4) {
        background-image: url('/Imagens/bg4.jpg');
        min-height: 610px;
    }
}
//Quarto background------------------------------------//
#bg-4 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #quad1-bg4 {
        border: 3px solid #124EC7;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #124EC7;
        background-color: #090b0f;
        width: 50%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: relative;
            width: 50%;
            height: 50%;
            filter: invert(100%);
        }
    }
//Redes Sociais---------------------------------------//
    #icones {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-self: flex-start;
        position: absolute;
        border: 3px solid #124EC7;
        width: 14%;
        padding: 10px 0px 10px 0px;
        box-shadow: 0px 0px 10px #124EC7;
        border-radius: 5px;
        background-color: #090b0f;
        font-weight: bold;
    
        #icone-insta {
            width: 8.7%;
            padding-bottom: 10px;
            margin-left: 10px;
        }
    
        #icone-twitter {
            width: 10%;
            padding-bottom: 10px;
            margin-left: 10px;
        }

        #icone-playstationStore {
            width: 10%;
            margin-left: 10px;
        }
    }

    #links {
        display: flex;
        flex-direction: column;
        color: white;
        align-self: flex-start;
        position: absolute;
        font-size: 0.7em;
        margin-left: 40px;

        #link-insta {
            padding-bottom: 12px;
            margin-left: 10px;
        }

        #link-twitter {
            padding-bottom: 12px;
            margin-left: 10px;
        }

        #link-playstationStore {
            margin-left: 10px;
        }
    }

    .links {
        &:hover {
            color: #888888;
            transition: 0.2s;
        }
    }
}

/*#brilho {
    position: relative;
    bottom: 800px;
    height: 774px;
    width: 1351px;

    #brilhe {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        box-shadow: 50px 50px 20px white,
        500px 100px 20px white,
        200px 300px 20px white,
        350px 350px 20px white,
        100px 700px 20px white,
        50px 200px 20px white,
        300px 700px 20px white,
        200px 50px 20px white,
        100px 500px 20px white,
        900px 50px 20px white,
        1000px 150px 20px white,
        900px 650px 20px white,
        1050px 500px 20px white,
        950px 300px 20px white,
        1200px 500px 20px white,
        1150px 250px 20px white,
        1250px 50px 20px white,
        1200px 700px 20px white;

        animation: anim-brilho 10s linear infinite;

        &::after {
            content: " ";
            position: absolute;
            top: 774px;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            box-shadow: 50px 50px 20px white,
            500px 100px 20px white,
            200px 300px 20px white,
            350px 350px 20px white,
            100px 700px 20px white,
            50px 200px 20px white,
            300px 700px 20px white,
            200px 50px 20px white,
            100px 500px 20px white,
            900px 50px 20px white,
            1000px 150px 20px white,
            900px 650px 20px white,
            1050px 500px 20px white,
            950px 300px 20px white,
            1200px 500px 20px white,
            1150px 250px 20px white,
            1250px 50px 20px white,
            1200px 700px 20px white;
        }
    }
}

@keyframes anim-brilho {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-774px);
    }
}*/